<a class="nav-link text-dark" asp-area="" asp-controller="Castaways" asp-action="Index">Manage Castaways</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Rewards" asp-action="Index">Manage Rewards</a>
<a class="nav-link text-dark" asp-area="" asp-controller="RewardTypes" asp-action="Index">Manage Reward Types</a>
<a class="nav-link text-dark" asp-area="" asp-controller="ClaimedBies" asp-action="Index">Manage ClaimedBy</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Templates" asp-action="Index">Manage Templates</a>
<a class="nav-link text-dark" asp-area="" asp-controller="RewardCompositions" asp-action="Index">Manage Reward Compositions</a>
<a class="nav-link text-dark" asp-area="" asp-controller="RewardStatus" asp-action="Index">Manage Reward Status</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Sends" asp-action="Index">Manage Sends</a>



